<!DOCTYPE html>

<html>
<head>
    <meta charset = "UTF-8">
    <meta name="description" content="A complete disaster management facility">
    <meta name="keywords" content="CodeFunDo++,Microsoft,Disaster,Disaster Management,IIT Kharagpur,MeeSeeks,MeSeeks">
    <meta name="author" content="Prashant Ramnani, Ayush Kaushal, Chinmoy Singh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MeeSeeks</title>
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'style.css')}}">

</head>
<body>

<!--    <div class="tab">
        <button class="tablinks" onclick="openNoticeBoard(event, 'Victim')">Victim</button>
        <button class="tablinks" onclick="openNoticeBoard(event, 'Volunteer')">Volunteer</button>
    </div>
-->
    <div id="Victim" class="tabcontent">
        <h1 align=center>Victims</h1>
        <p></p>

        <form align=center action="{{url_for('homeSubmitVictim')}}" id=" victim_form_form" method="POST" >
              <p style = "font-size: 50px;">  Input : 
              <textarea name='victim_form' id='input' style="width:1000px; height: 50px;"></textarea><br />
               
                <input type="Submit"><!--onclick="myFunction()"-->
            </p>
            </form>

        <br>
        <table style="width:100%" style="border:1px solid black">

            <tr>
                <th>Id</th>
                <th>Data</th> 
                <th>Alloted_to</th>
                <th>Status - assign by adding vol id</th>
            </tr>

            {% for single_vic in data_array_vic %}

            <tr>
                <td align="center">{{single_vic["id"]}}</td>
                <td align="center">{{single_vic["data"]}}</td> 
                {% if single_vic["alloted_to"] == "None" %}
                <td align="center">{{single_vic["status"]}}</td>
                <td align ="center">
                <form action="{{url_for('homeassign')}}" id="volunt_code_form" method ="POST">
                    Unanswered - Enter volunteers code to assign:<br>
                    <input type="text" name={{single_vic["id"]}} value="">
                    <input type="Submit" value="Assign to yourself">
                </form>
                </td>
                {% else %}
                    <td align="center">{{single_vic["alloted_to"]}}</td>
                    <td align="center">{{single_vic["status"]}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="Volunteer" class="tabcontent">
         <h1 align=center>Volunteers</h1>
        <p></p>
        
        <form align=center action="{{url_for('homeSubmitVolunteer')}}" id=" volunteer_form_form" method="POST" >
                <p style = "font-size: 50px;">  Input : 
                <textarea name='volunteer_form' id='input' style="width:1000px; height: 50px;"></textarea><br />
                 
                  <input type="Submit"><!--onclick="myFunction()"-->
              </p>
              </form>
  
          <br>

        <table style="width:100%" style="border:1px solid black">

            <tr>
                <th>id</th>
                <th>data</th> 
                <th>alloted</th>
            </tr>

            {% for single_vol in data_array_vol%}

            <tr>
                <td align="center">{{single_vol["id"]}}</td>
                <td align="center">{{single_vol["data"]}}</td> 
                <td align="center">{{single_vol["alloted"]}}</td>
            </tr>
            {% endfor %}
        </table>


    </div>

<!--    <script>
        function openNoticeBoard(evt, boardName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(boardName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        //openNoticeBoars("loadPage","Victim");
        </script>
-->
</body>
</html>
<!--
-->